@import "_colors.less";
@import "_layout.less";
@import "_game-field.less";
@import "_homepage.less";
@import "_header.less";
@import "_login-register.less";
@import "_mixins.less";
@import "_paletton-collors.less";

.form-margin-auto {
  margin: 0 auto;
  max-width: 340px;
}

.form-block {
  background: @color-primary-2;

  padding: 25px 25px 20px;
  line-height: 20px;
  border-radius: 20px;
  margin: 45px 15px;

  .row {
    margin-bottom: 8px;

    .validation-error {
      margin-top: -5px;
      color: @error;
    }

    label {
      font-size: 1.2em;
      width: 100%;
      text-align: right;
      display: inline-block;
      color: @white;
    }

    input[type="text"], input[type="password"] {
      border: 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
    }

    input[type="submit"], .button {
      border: 0;
      border-radius: 5px;
    }
  }
}